<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Ebay test">
    <test name="Test go to Fashion">
        <classes>
            <class name = "testCases.JewelryTest"/>
            <class name = "testCases.HealthAndBeautyTest"/>
        </classes>
    </test>
</suite>